body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: rgb(245, 207, 207);
}

table{
    background-color: antiquewhite;
    width: 100%;
    border: 1px solid grey;
    border-collapse: collapse;
}
td{
    border: 1px solid grey;
}
.matrixAll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   width: 1000px;
}
.matrix-all{
    margin: 10px;
}

#matrixStandart{
    margin: auto;
    width: 400px;
}